:root {
	--ColorPalette-White: oklch(100% 0 0);
	--ColorPalette-Black: oklch(0% 0 0);
	--ColorPalette-Yellow: oklch(86% 0.17 90);
	--ColorPalette-Cyan: oklch(86% 0.17 170);

	--ColorPalette-Gray_light: oklab(from var(--ColorPalette-White) calc(l * 0.95) a b);
	--ColorPalette-Gray_dark: oklab(from var(--ColorPalette-White) calc(l * 0.25) a b);

	--ColorUI-BG_page: light-dark(var(--ColorPalette-White), var(--ColorPalette-Gray_dark));
	--ColorUI-BG_special: light-dark(var(--ColorPalette-Gray_light), var(--ColorPalette-Black));
	--ColorUI-Text: light-dark(var(--ColorPalette-Gray_dark), var(--ColorPalette-Gray_light));
	--ColorUI-Accent: light-dark(var(--ColorPalette-Cyan), var(--ColorPalette-Yellow));

	background-color: var(--ColorUI-BG_page);
	color: var(--ColorUI-Text);
	accent-color: var(--ColorUI-Accent);
	color-scheme: light dark;
}
