{%- macro Navigation(classes) -%}
	{% set blockClassName = "Navigation" %}
	<nav class="{{ classes }} {{ blockClassName }}">
		<h2 class="{{ blockClassName }}-Title">Main navigation</h2>
		<button
			class="{{ blockClassName }}-Button Button"
			type="button"
			aria-controls="Navigation-List"
			hidden
		>
			<span class="{{ blockClassName }}-ButtonText">Toggle navigation list</span>
		</button>

		<ul class="{{ blockClassName }}-List " id="Navigation-List">
			{% for link in navLinks %}
				{%- set linkUrl = project.root ~ link.rootUrl -%}
				<li class="{{ blockClassName }}-Item">
					<a
						class="{{ blockClassName }}-Link"
						href="{{ linkUrl }}"
						{{ "aria-current=page" if linkUrl === page.link -}}
					>{{ link.text }}</a>
				</li>
			{% endfor %}
		</ul>
	</nav>
{%- endmacro -%}
