{%- macro Navigation(classes) -%}
	{% set blockClassName = "navigation" %}
	<nav class="{{ classes }} {{ blockClassName }}">
		<h2 class="{{ blockClassName }}__title">Main navigation</h2>
		<button
			class="{{ blockClassName }}__button button"
			type="button"
			aria-controls="navigation__list"
			hidden
		>
			<span class="{{ blockClassName }}__button-text">Toggle navigation list</span>
		</button>

		<ul class="{{ blockClassName }}__list " id="navigation__list">
			{% for link in navLinks %}
				{%- set linkUrl = project.root ~ link.rootUrl -%}
				<li class="{{ blockClassName }}__item">
					<a
						class="{{ blockClassName }}__link"
						href="{{ linkUrl }}"
						{{ "aria-current=page" if linkUrl === page.link -}}
					>{{ link.text }}</a>
				</li>
			{% endfor %}
		</ul>
	</nav>
{%- endmacro -%}
