@property --ContentIndent-Min {
	syntax: "<integer>";
	inherits: false;
	initial-value: 20;
}

@property --ContentIndent-Max {
	syntax: "<integer>";
	inherits: false;
	initial-value: 40;
}

@property --ContentIndent {
	syntax: "<length>";
	inherits: true;
	initial-value: 1rem;
}

.Page {
	margin: initial;
	min-block-size: 100svb;
	display: block grid;
	grid-template-rows: auto 1fr;
}

.Page-Centerer {
	margin-inline:
		clamp(
			1px * var(--ContentIndent-Min),
			1px * var(--ContentIndent-Min)
			+
			(var(--ContentIndent-Max) - var(--ContentIndent-Min))
			*
			(100vi - 1px * var(--Breakpoint-Min))
			/
			(var(--Breakpoint-Max) - var(--Breakpoint-Min)),
			calc(1px * var(--ContentIndent-Max))
		);

	@media (--only-large) {
		margin-inline: auto;
		inline-size: calc(1px * (var(--Breakpoint-Max) - 2 * var(--ContentIndent-Max)));
	}
}

.Page-Header {
	display: block grid;
}

.Page-Footer {
	display: block grid;
}

.Page-Content {
	display: block grid;
	align-self: start;
	align-content: start;
}
