{% macro Copyright(classes) %}
	<div class="{{ classes }} copyright">
		Developed by
		<a class="copyright__link" href="https://github.com/firefoxic">
			<span class="copyright__name">firefoxic</span>
		</a>
	</div>
{% endmacro %}
