@property --icon-shape-burger {
	syntax: "<url>";
	inherits: false;
	initial-value: url("./burger.svg");
}

@property --icon-shape-cross {
	syntax: "<url>";
	inherits: false;
	initial-value: url("./cross.svg");
}

@property --icon-shape-moon {
	syntax: "<url>";
	inherits: false;
	initial-value: url("./moon.svg");
}

@property --icon-shape-sun {
	syntax: "<url>";
	inherits: false;
	initial-value: url("./sun.svg");
}
